<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <title>4stor - Синхронизация</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta content="ie=edge" http-equiv="x-ua-compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ static('css/style.css') }}" rel="stylesheet">
        <link href="{{ static('css/ie.hack.css') }}" rel="stylesheet"/>
        <!--[if IE]>
        <link href="{{ static('css/ie.css') }}" rel="stylesheet"/>
        <![endif]-->
    </head>
    <body id="main-body">
        <div class="fs--main-container">
            <div class="fs--main-center">
                <div class="fs--main-header">
                    <div class="fs--top-header">
                        <table cellspacing="0" cellpadding="0" class="fs--top-header-table">
                            <tbody>
                                <tr>
                                    <td class="fs--top-header-menu-td" id="header-region">
                                        <div class="header-menu">
                                            <div class="header-menu-container">
                                                <div class="header-menu-item-div">
                                                    <strong style="font-size:17px;">Модуль синхронизации 4s-manager</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="fs--main-content">
                    <div id="messages-log" style="margin-left:50px; margin-right: 50px; display: none;">
                        Журнал сообщений о ходе синхронизации
                    </div>
                    <div id="main-application" style="display:none;">
                        <div class="toolbar-region">
                            <div class="grid-toolbar">
                                <div id="sync-button" title="Синхронизировать с 4stor.ru" class="tbar-button button-sync toolbar-for-disabled">
                                    <span class="image sync"></span>
                                    <span class="text">Синхронизировать</span>
                                </div>
                            </div>
                        </div>

                        <div class="settings-links">
                            <div class="settings-table-container">
                                <table class="settings-sync-table" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <td class="checkbox-cell">
                                                <input type="checkbox" class="delete-checkbox all-checkbox" />
                                            </td>
                                            <td class="name-cell">Название</td>
                                            <td class="href-cell">Адрес</td>
                                            <td class="switch-cell">Вкл.</td>
                                            <td class="multi-cell">М/с</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for link in sync_links %}
                                        <tr class="grid-row">
                                            <td class="checkbox-item-cell">
                                                <input itemId="{{link[0]}}" type="checkbox" class="sync-checkbox" />
                                            </td>
                                            <td class="name-item-cell">{{ link[1] }}</td>
                                            <td class="href-item-cell">
                                                <a target="_blank" href="{{ link[2] }}">{{ link[2] }}</a>
                                            </td>
                                            <td class="switch-item-cell">
                                                <div title="Ссылка {% if link[3] == 'n' %}не{% endif %} включена" class="radio-class {% if link[3] == 'y' %}yes{% else %}no{% endif %}"></div>
                                            </td>
                                            <td class="multi-item-cell">
                                                <div title="Многостраничность {%- if link[4] == 'n' -%}не{% endif %} включена" class="radio-class  {% if link[4] == 'y' %}yes{% else %}no{% endif %}"></div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fs--main-footer" id="footer-region">
                <div class="under-footer">
                    <div class="left-one">
                        <div>
                            <a target="_blank" href="https://github.com/dgdagadin87/4s-manager-sync">Ссылка</a> на репозиторий проекта
                        </div>
                        <div>
                            Контент взят с <a target="_blank" href="http://4stor.ru">4stor.ru</a>
                        </div>
                    </div>
                    <div class="center-one">
                        2018 ©
                    </div>
                    <div class="right-one">
                        <div>
                            Автор проекта: <a href="mailto:dgdagadin@gmail.com">dgdagadin@gmail.com</a>
                        </div>
                        <div>
                            version 0.0.5
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
        <script>
            window.syncData = {};
            {% for index in send_object %}
            window.syncData['{{index}}'] = {};
            window.syncData['{{index}}']['page'] = {{send_object[index]['page']}};
            window.syncData['{{index}}']['state'] = '{{send_object[index]['state']}}';
            {% endfor %}
        </script>
        <script src="{{ static('js/main.js') }}"></script>
    </body>
</html>